:root {
    --caparol: #0f001a;
    --ford: #242230;
    --focoltone: #2f004e;
    --pantone: #4d007f;
    --violet: #7A00C3;
    --behr: #44374c;
    --mauve: #bcafc4;
    --plascon: #c7c0cb;
    --orchid: #d6d2db;
    --brighto: #d9c6e4;
    --ashley: #e7e5eb;
    --tamiya: #172909;
    --olive: #283a1b;
    --cloverdale: #f2f4f1;
    --craig: #ced2c6;
    --porter: #686a92;
    --biscaya: #999bb4;
}

::-moz-selection {
    color: var(--ford);
    background: var(--brighto);
}

::selection {
    color: var(--ford);
    background: var(--brighto);
}

body {
    font-size: 1em;
    line-height: 1.66;
    -webkit-text-size-adjust: none;
    color: var(--caparol);
}

html {
    -webkit-font-smoothing: antialiased;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body,
input,
textarea,
select,
button {
    font-family: Lato;
}

figure {
    max-width: 149px;
    max-height: 149px;
    margin: auto;
}

figure img {
    width: 100%;
    border-radius: 5rem;
}

input,
textarea,
select,
p {
    color: var(--behr);
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.layer {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin-right: auto;
    margin-left: auto;
}

.header {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 9% 1em 5em;
    background-color: #ffffff;
    text-align: center;
    -webkit-backface-visibility: hidden;
}

.header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFUlEQVQIW2NkQAKMUPZ/IM0I44DFABJxAQQMGKylAAAAAElFTkSuQmCC);
}

.slick-arrow {
    display: none !important;
}

.pt-6,
.py-6 {
    padding-top: 5rem!important;
}

.pb-6,
.py-6 {
    padding-bottom: 5rem!important;
}

.header figure,
.header hgroup,
.header .slider-nav {
    z-index: 1;
    position: relative;
}

.header .h1 {
    margin: 1em 0 0 0;
    font-weight: 200;
    font-size: 2.4em;
    line-height: 1.4;
    letter-spacing: -3px;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    text-shadow: 0 2px 0 rgba(51, 51, 51, 0.2);
}

.profession {
    font-size: 1em;
    margin: .1em 0 .6em;
    font-style: italic;
    color: var(--caparol);
    line-height: 1;
}

.profession span {
    border-radius: 4px;
    background: var(--brighto);
    padding: 6px 10px;
    display: inline-block;
}

.profession span::-moz-selection {
    color: #ffffff;
    background: var(--olive);
}

.profession span::selection {
    color: #ffffff;
    background: var(--olive);
}

.wrapper {
    min-height: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}

.slick-slide:focus,
.button:focus,
button,
a,
input,
textarea {
    outline: none !important;
}

.slider-nav .slick-slide {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3em auto 10px auto;
    cursor: pointer;
    color: var(--orchid);
    letter-spacing: -2px;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.7em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 2px 0 rgba(51, 51, 51, 0.2);
}

.slider-nav .slick-slide:hover {
    color: var(--mauve);
}

.slider-nav .slick-slide.slick-current {
    cursor: default;
    color: var(--behr);
}

.column {
    position: relative;
    padding-left: 112px;
    padding-bottom: 8px;
}

.title-column {
    position: relative;
    margin-bottom: 2em;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 1px;
}

.column .title-column [class^="icon-"],
.column .title-column [class*=" icon-"],
.column .title-column .fa,
.column .title-column .fab,
.column .title-column .fas {
    display: block;
    font-size: 28px;
    position: absolute;
    top: -27px;
    left: -112px;
    width: 86px;
    height: 86px;
    line-height: 78px;
    margin: 0;
    z-index: 120;
    text-align: center;
    color: var(--mauve);
    background: #fff;
    border-radius: 50%;
    border: 4px solid var(--ashley);
}

.description-box {
    position: relative;
    padding: 26px 32px;
    margin-bottom: 3em;
    background: #ffffff;
    border: 3px solid var(--ashley);
    border-radius: 6px;
}

.boll-event {
    position: absolute;
    top: 45%;
    margin-top: -24px;
    left: -106px;
    width: 68px;
    height: 68px;
    line-height: 58px;
    text-align: center;
    background: var(--pantone);
    display: block;
    z-index: 120;
    color: #fff;
    border-radius: 50%;
    border: 5px solid #FFF;
    font-family: Oswald;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    padding-top: 13px;
}

.boll-event>div {
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-box.current .boll-event {
    border-color: var(--tamiya);
    background-color: var(--tamiya);
}

.boll-event+p {
    margin: 0px;
}

.description-box h4 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 600;
}

.description-box h5 {
    margin: 0;
    padding: 0 0 .3em 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--craig);
}

.description-box p {
    margin: .6em 0 .2em 0;
    font-size: 14px;
    letter-spacing: .02em;
}

.description-box:after,
.description-box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.description-box p:before {
    display: block;
    content: "";
    position: absolute;
    top: -30px;
    left: -72px;
    height: 160%;
    width: 4px;
    background: var(--ashley);
}

.description-box:after {
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}

.description-box:before {
    border-right-color: var(--ashley);
    border-width: 15px;
    margin-top: -15px;
}

.column+.column .description-box:last-child p:before {
    height: 76%;
}

.line-title {
    position: relative;
    margin-bottom: 1em;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
}

.line-title:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 3px;
    width: 100%;
    border-bottom: 4px solid #F4F6F7;
}

.box-title {
    position: relative;
    display: inline-block;
    padding-right: 1.4em;
    background: #fff;
}

.box-title i[class^="icon-"],
.box-title i[class*=" icon-"],
.box-title i.fa,
.box-title i.fab,
.box-title i.fas {
    font-size: 16px;
    margin-right: 14px;
    line-height: 39px;
    text-align: center;
    color: var(--mauve);
    background: #fff;
    border-radius: 50%;
    border: 4px solid var(--ashley);
    display: inline-block;
    width: 47px;
    height: 47px;
}

.progress-bar {
    position: relative;
    background: var(--pantone);
    height: 36px;
    border-radius: .25rem;
    margin-top: 19px;
    align-items: baseline;
}

.progress-bar h4 {
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
    padding-left: 14px;
    text-transform: uppercase;
    margin: 0;
}

.box-info p {
    margin: 1.2em 0;
}

button.button,
a.button {
    display: inline-block;
    position: relative;
    padding: 1.3em 2.6em;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    outline: 0;
    background: #fff;
    border: 2px solid var(--behr);
    color: var(--behr);
    border-radius: 4px;
    text-decoration: none;
}

a.button:hover,
button.button:hover {
    color: #fff;
    background-color: var(--behr);
    border-color: transparent;
}

.grup-post {
    padding: 1em 0 2em 0;
}

.info-post {
    position: relative;
    padding: 1.4em 2.2em 1.4em 2.8em;
    margin: 0 16px 40px 0;
    background: #EFF4F5;
    border-radius: 6px;
}

.info-post:before {
    display: block;
    content: "\"";
    line-height: 1;
    font-size: 35px;
    position: absolute;
    left: 10px;
    top: 12px;
    font-weight: 900;
    color: #fff;
    border: 3px solid #FFF;
    padding: 4px 6px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.info-post img {
    display: block;
    float: right;
    max-width: 100px;
    border-radius: 50%;
    margin: -40px -60px 10px 20px;
    border: 8px solid #fff;
}

.info-post p {
    position: relative;
    margin: .6em 0 0.2em 0;
    font-size: 14px;
    line-height: 150%;
    color: var(--porter);
}

.info-post h4 {
    position: relative;
    margin: 0;
    font-weight: 700;
    color: var(--porter);
    font-size: 16px;
}

.info-post h4 span {
    display: inline-block;
    font-size: 11px;
    letter-spacing: .04em;
    font-weight: 700;
    margin-left: 1em;
    color: var(--biscaya);
    text-transform: uppercase;
}

.title-contact {
    margin: 0 0 .6em 0;
    font-size: 3em;
    font-weight: 400;
    line-height: 120%;
    font-family: 'Tangerine', serif;
    color: var(--orchid);
}

.contact-p {
    margin: 0;
    font-size: 14px;
}

.contact-p i {
    display: inline-flex;
    width: 38px;
    height: 38px;
    font-size: 15px;
    color: #fff;
    background: var(--pantone);
    margin: 0 14px 10px 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.w-max-content {
    width: max-content;
}

.invalid-tooltip {
    top: -19px;
    right: 0;
    padding: 0 .5rem;
    font-size: .71rem;
}

.from-label {
    position: absolute;
    font-size: 12px;
    top: -19px;
    left: 0;
    background: white;
    padding: 0 10px;
    border-left: 2px solid #e9eeee;
    border-top: 2px solid #e9eeee;
    border-right: 2px solid #e9eeee;
    color: #6A7686;
    text-transform: uppercase;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.form-input {
    padding: .5em .8em;
    width: 100%;
    max-width: 100%;
    font-size: 1em;
    color: #6A7686;
    border: 2px solid #e9eeee;
    border-radius: 4px;
    background: #fff;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

textarea.form-input {
    width: 100%;
    height: 140px;
    resize: none;
}

.form-input:focus,
.form-input:focus+.from-label {
    border-color: #b7c6c9;
}

.social-media {
    padding: 0;
    margin: 2em 0 4em 0;
    list-style: none;
}

.social-media li {
    display: inline-block;
    padding: 0;
    margin-bottom: -3px;
}

.social-media li a {
    display: flex;
    float: left;
    margin: 0 .4em .3em 0;
    text-align: center;
    font-size: 25px;
    font-family: "fontello";
    width: 60px;
    height: 60px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #516075;
    border-radius: 4px;
    border: 1px solid #dde4e6;
}

.social-media li a:hover {
    color: #fff !important;
    border-color: transparent;
}

.social-media li a.github:hover {
    background-color: #222;
}

.social-media li a.linkedinin:hover {
    background-color: #2089b5;
}

#filter>button {
    margin-left: .5rem;
    margin-right: .5rem;
    color: #b8c7ca;
    font-size: 12px;
    letter-spacing: .1em;
    padding: 3px 10px;
    border: 1px solid #DDE4E6;
    border-radius: 4px;
}

#filter>button:hover {
    color: var(--tamiya);
    border-color: var(--tamiya);
}

[data-widget="active"],
[data-widget="active"]:hover {
    color: #fff !important;
    background: var(--tamiya) !important;
    border-color: transparent !important;
}

.view-post {
    position: relative;
    height: 255px;
    cursor: pointer;
}

.figure-post {
    max-width: unset;
    max-height: unset;
}

.figure-post img {
    border: 0;
    height: 100%;
    border-radius: 0;
}

.view-post>* {
    width: 100%;
    height: 100%;
}

.post-detail {
    text-align: center;
    padding: 28px 40px;
    border-style: solid;
    border-width: 1px;
    background: #fff;
    border-color: #EAEDEF;
    border-radius: 0 0 4px 4px;
}

.post-detail h3 {
    text-transform: uppercase;
    padding: 0;
    margin: 0px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .03em;
}

.post-detail p {
    font-size: 13px;
    letter-spacing: .04em;
    margin: 0;
    color: var(--ashley);
}

.post-hover,
.cover-blog-post {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    background: rgba(79, 71, 83, 0.6);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.post-hover>i,
.cover-blog-post>i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -38px 0 0 -38px;
    width: 76px;
    line-height: 76px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: var(--focoltone);
    border-radius: 50%;
}

.view-post:hover .post-hover,
.blog-post:hover .cover-blog-post {
    opacity: 1;
    filter: alpha(opacity=100);
}

.blog-post {
    position: relative;
    padding: 1.5em .9em 1.5em 2.4em;
    background: var(--brighto);
    border-radius: 4px;
    cursor: pointer;
    max-height: 355px;
}

@media (min-width: 576px) {
    .blog-post {
        max-height: 208px;
    }
}

.blog-post img {
    height: 160px;
    border-radius: 4px;
}

.blog-post p {
    overflow: hidden;
}

.cover-blog-post {
    border-radius: 4px;
}

.blog-post a,
.view-post a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.time-post {
    position: absolute;
    right: 16px;
    bottom: -20px;
    padding: 6px 7px;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    color: #fff;
    border-radius: 2px;
    text-transform: capitalize;
    background: var(--pantone);
    z-index: 1;
}

.time-post span {
    display: block;
    font-size: 26px;
    letter-spacing: -2px;
    font-weight: 800;
}

@media (max-width: 575px) {
    .no-padding {
        padding-right: 0;
        padding-left: 0;
    }
}

.ellipses {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-ellipses="1"] {
    -webkit-line-clamp: 1;
}

[data-ellipses="2"] {
    -webkit-line-clamp: 2;
}

[data-ellipses="3"] {
    -webkit-line-clamp: 3;
}

[data-ellipses="4"] {
    -webkit-line-clamp: 4;
}

[data-ellipses="5"] {
    -webkit-line-clamp: 5;
}

[data-ellipses="6"] {
    -webkit-line-clamp: 6;
}

[data-ellipses="7"] {
    -webkit-line-clamp: 7;
}

[data-ellipses="8"] {
    -webkit-line-clamp: 8;
}

[data-ellipses="9"] {
    -webkit-line-clamp: 9;
}

[data-ellipses="10"] {
    -webkit-line-clamp: 10;
}

.publi-title {
    position: relative;
    margin-bottom: 1em;
    font-size: 15px;
    letter-spacing: 0.01em;
    font-weight: 300;
    text-transform: capitalize;
}

.back-button {
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: #161616;
    z-index: 200;
    color: white;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: var(--violet);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--violet), 0 0 5px var(--violet);
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    border: solid 3px transparent;
    border-top-color: var(--violet);
    border-left-color: var(--violet);
    border-radius: 5rem;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}